HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### structurizr ###
docs/structurizr/workspace.json
docs/structurizr/.structurizr/


### github scripts
.github/node_modules/

### local stuff ###
notes/

### env variables for local dev
.env

### unfinished scaffolding
monitoring/
load-test/
gateway/

## claude
.claude/
.claude-plugin/
CLAUDE.md